<!DOCTYPE html>
<!--
	Transit by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>sign in</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src="/js/jquery.min.js"></script>
		<script src="/js/skel.min.js"></script>
		<script src="/js/skel-layers.min.js"></script>
		<script src="/js/init.js"></script>
			<link rel="stylesheet" href="/css/skel.css" />
			<link rel="stylesheet" href="/css/style.css" />
			<link rel="stylesheet" href="/css/style-xlarge.css" />
	</head>
	<body class="landing">

		<!-- Header -->
			<header id="header">
				<h1><a href="index.html"></a></h1>
				<nav id="nav">
					<ul id="asd">
					</ul>
				</nav>
			</header>
    
          <h2>
              design: TRANSIT by <a href="https://templated.co/transit">Templated</a>
          </h2>


		<!-- Three -->
			<section id="three" class="wrapper style3 special">
				<div class="container">
					<header class="major">
						<h2>sign in</h2>
					</header>
				</div>
				<div class="container 50%">
					<form action="/signin" method="post">
						<div class="row uniform">
							<div class="6u 12u$(small)">
								<input name="username" value="" placeholder="username" type="text">
							</div><br/>
              <div class="6u 12u$(small)">
								<input name="password" value="" placeholder="password" type="password">
							</div>
							<div class="12u$">
								<ul class="actions">
                  <li><input type="Submit" class="button special" value="submit"></li>
								</ul>
							</div>
						</div>
					</form>
				</div>
			</section>

	</body>
</html>